# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# mongodb

DATABASE_URL="mongodb+srv://root:root123@cluster0.qii2gv5.mongodb.net/lms"

# api
NEXT_BASE_URL_API="http://localhost:3000"

#next-auth
NEXTAUTH_SECRET="1yGdbVw62r06XNTZC/O7LQLKhyFKU1vNH8XXe060MYZOLvV0qjyoG8CsxAEb0KK5H9Q="

#cloud-google
GOOGLE_CLIENT_ID="849999729280-1g4c89oklir2gppqclv8r3hvfsvmpdkn.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"



